#requireResource("confluence.macros.advanced:blogpost-resources")
#requireResource("confluence.macros.advanced:blogpost-mobile-resources")

<div class="blog-post-list">
#if ($posts.size() > 0)
    <h4 class="sub-heading">$i18n.getText("type.newsitems")</h4>
    <ul>
    #foreach ($postTuple in $stickyPosts)
        #set ($post = $postTuple.post)
        #set ($space = $post.space)
        #set ($message = $postTuple.getFormattedDate())
        <li class="blog-item">
            <span class="blog-title-mobile">#contentLink2($post true false)</span>
            <div class="blog-item-creator">#usernameLink($post.creatorName)
                <span class="separator"> &bull; </span>
                #if (!$message.getArguments())
                    $i18n.getText($message.getKey())
                #else
                    $i18n.getText($message.getKey(), $message.getArguments())
                #end
            </div>
        </li>
    #end
    #foreach ($postTuple in $posts)
        #set ($post = $postTuple.post)
        #set ($space = $post.space)
        #set ($message = $postTuple.getFormattedDate())
        <li class="blog-item">
            <span class="blog-title-mobile">#contentLink2($post true false)</span>
            <div class="blog-item-creator">#usernameLink($post.creatorName)
                <span class="separator"> &bull; </span>
                #if (!$message.getArguments())
                    $i18n.getText($message.getKey())
                #else
                    $i18n.getText($message.getKey(), $message.getArguments())
                #end
            </div>
         </li>
    #end
    </ul>
#else
    $i18n.getText("macros.blogpost.no.news.found")
#end
</div>
