<tr bgcolor="ffffff">
    <td>
        {doc:/display/DOC/Confluence+Documentation+Home}Confluence Documentation{doc}
    </td>
    <td>
        <p>$action.getText("doc.desc")</p>
        <ul>
            <li><strong>$action.getText("doc.param.default")</strong> &mdash; $action.getText("doc.param.default.desc")</li>
            <li><strong>$action.getText("doc.body")</strong> &mdash; $action.getText("doc.body.desc")</li>
        </ul>
    </td>
</tr>