.recently-updated-sidebar .update-item {
    overflow: hidden;
}

.recently-updated-sidebar .update-item,
.recently-updated-sidebar .more-link-container {
    margin-top: 7px;
}

.recently-updated-sidebar .update-item:first-child {
    margin-top: 0;
}

.recently-updated-sidebar ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.recently-updated-sidebar .update-item-meta {
    overflow: auto;
    color: #707070;
    font-size: 12px;
    line-height: 16px;
}

.update-item-meta .update-item-changes a,
.update-item-meta .update-item-changes a:link,
.update-item-meta .update-item-changes a:hover,
.update-item-meta .update-item-changes a:visited,
.update-item-meta .update-item-changes a:active {
    color: inherit;
}

.recently-updated-sidebar .update-item-meta > li {
    float: left;
}

.recently-updated-sidebar .update-item-meta > li:first-child:before {
    content: '';
    margin: 0;
}

.recently-updated-sidebar .update-item-meta > li:before {
    content: '\2022';
    margin: 0 5px;
}
